{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "logger": true,
    "helper": true,
    "_": true
  },
  "rules": {
    "max-lines": ["error", 400],
    "no-unused-vars": 1,
    "no-console": 0,
    "prettier/prettier": 0,
    "complexity": 0
  }
}