/* break point */
html, body {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #444;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  background-color: #f6f6f6; }
  body.no-scroll {
    height: 100%;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      body.no-scroll {
        /*padding-right: 15px;
      .top-nav {
        padding-right: 8px;
      }*/ } }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Roboto', arial, sans-serif;
  margin: 0; }

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
  color: #444;
  margin-bottom: 5px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #444;
  text-decoration: none; }

a {
  text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.mTop12 {
  margin-top: 12px; }

.mBottom10 {
  margin-bottom: 10px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: .5; }

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: .5; }

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: .5; }

:-moz-placeholder {
  /* Firefox 18- */
  opacity: .5; }

.color444 input {
  color: #444 !important; }

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.eot) format("eot"), url(../fonts/MaterialIcons-Regular.ttf) format("ttf"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 16px;
  line-height: 1.4375em; }

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4375em;
  margin: 0 0 20px; }
  @media screen and (max-width: 767px) {
    p {
      margin-bottom: 15px;
      font-size: 0.9375em; } }
  p:last-child {
    margin-bottom: 0; }

.full-card-outer .full-card-inner .full-card .cc-block .abs-content .card-header {
  padding: 30px; }

.full-card-outer .full-card-inner .full-card .cc-block .abs-content .text-bottom {
  padding: 30px;
  width: 100%; }

.full-card-outer .full-card-inner .full-card .card-detail {
  padding: 30px 30px 0; }
  .full-card-outer .full-card-inner .full-card .card-detail p {
    color: rgba(68, 68, 68, 0.87);
    font-size: 16px;
    line-height: 1.5em; }

.divider {
  background-color: #dbdbdb;
  width: 100%;
  height: 1px; }

.flat-button {
  transition: all .2s ease 0s;
  display: block;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 16px;
  letter-spacing: .5px;
  cursor: pointer; }
  .flat-button.primary {
    color: #2196f3; }
    .flat-button.primary:hover {
      background-color: rgba(153, 153, 153, 0.2); }

/* slide toggle */
.slide-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 8px;
  margin-left: 8px;
  /* The slider */ }
  .slide-toggle input {
    display: none; }
  .slide-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdbdbd;
    -webkit-transition: .2s;
    transition: .2s;
    width: auto;
    height: auto; }
    .slide-toggle .slider.round {
      border-radius: 10px; }
      .slide-toggle .slider.round:before {
        border-radius: 50%; }
    .slide-toggle .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .2s;
      transition: .2s; }
  .slide-toggle input:checked + .slider {
    background-color: #2196f3; }
  .slide-toggle input:focus + .slider {
    box-shadow: 0 0 1px #13ce66; }
  .slide-toggle input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px); }

.loading {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 88; }
  .loading .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px; }
  @media screen and (max-width: 767px) {
    .loading {
      top: 56px; } }

.calendar .loading {
  position: fixed; }

.selection-wrapper {
  height: 48px;
  line-height: 1; }
  .selection-wrapper > div {
    width: 100% !important; }

.snackbar > div {
  background-color: #2196f3 !important;
  opacity: .87; }

.left-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 33;
  border-right: 1px solid rgba(200, 200, 200, 0.5); }
  .left-content-wrapper h2, .left-content-wrapper h3 {
    margin-bottom: 0; }
  .left-content-wrapper h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: 400;
    padding: 16px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5); }
  .left-content-wrapper .left-content-inner {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 48px;
    overflow: auto; }
    .left-content-wrapper .left-content-inner .chapter-wrapper {
      transition: all .2s ease 0s;
      max-height: 499px;
      padding: 8px 0;
      border-bottom: 1px solid rgba(200, 200, 200, 0.5); }
      .left-content-wrapper .left-content-inner .chapter-wrapper.hide {
        max-height: 56px;
        overflow: hidden; }
        .left-content-wrapper .left-content-inner .chapter-wrapper.hide .chapter-title .arrow {
          transform: rotate(0); }
      .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title {
        cursor: pointer;
        padding: 8px 16px; }
        .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title:before, .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title:after {
          content: "";
          display: table; }
        .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title:after {
          clear: both; }
        .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title:hover {
          background-color: #ebebeb; }
        .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title .chapter-icon {
          float: left;
          margin-top: -1px;
          margin-right: 8px; }
        .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title h3 {
          font-size: 16px;
          line-height: 24px;
          float: left; }
        .left-content-wrapper .left-content-inner .chapter-wrapper .chapter-title .arrow {
          float: right;
          transform: rotate(180deg); }
    .left-content-wrapper .left-content-inner .page-list {
      color: #80868B;
      font-size: 14px;
      line-height: 36px; }
      .left-content-wrapper .left-content-inner .page-list li {
        transition: all 0.25s ease 0s;
        position: relative;
        cursor: pointer;
        display: block;
        padding: 0 16px 0 48px; }
        .left-content-wrapper .left-content-inner .page-list li:before, .left-content-wrapper .left-content-inner .page-list li:after {
          content: "";
          display: table; }
        .left-content-wrapper .left-content-inner .page-list li:after {
          clear: both; }
        .left-content-wrapper .left-content-inner .page-list li:hover {
          background-color: #ebebeb; }
          .left-content-wrapper .left-content-inner .page-list li:hover .more {
            display: inline-block !important; }
        .left-content-wrapper .left-content-inner .page-list li.active {
          background-color: #ebebeb;
          z-index: 33; }
          .left-content-wrapper .left-content-inner .page-list li.active .more {
            display: inline-block !important; }
        .left-content-wrapper .left-content-inner .page-list li span {
          float: left;
          color: #212121;
          display: block;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px; }
        .left-content-wrapper .left-content-inner .page-list li .more {
          float: right;
          color: rgba(33, 33, 33, 0.6) !important;
          display: none !important; }
        .left-content-wrapper .left-content-inner .page-list li .page-actions {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 100px;
          padding: 0;
          background-color: #f6f6f6;
          border-radius: 4px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          .left-content-wrapper .left-content-inner .page-list li .page-actions p {
            color: rgba(33, 33, 33, 0.6);
            font-size: 12px;
            font-weight: 400;
            line-height: 28px;
            padding: 0 16px;
            cursor: pointer;
            margin: 0;
            border-bottom: 1px solid rgba(200, 200, 200, 0.5); }
            .left-content-wrapper .left-content-inner .page-list li .page-actions p:last-child {
              border-bottom: 0; }
  .left-content-wrapper .add-action-wrapper {
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: 18px;
    right: 20px;
    z-index: 33; }
    .left-content-wrapper .add-action-wrapper .add-icon {
      color: #2196f3 !important;
      font-size: 36px !important;
      cursor: pointer; }
    .left-content-wrapper .add-action-wrapper .actions {
      position: absolute;
      bottom: 100%;
      right: 0; }
      .left-content-wrapper .add-action-wrapper .actions p {
        color: rgba(33, 33, 33, 0.6);
        font-size: 11px;
        font-weight: 400;
        height: 30px;
        line-height: 31px;
        width: 95px;
        cursor: pointer;
        padding: 0 16px;
        background-color: #f6f6f6;
        margin-bottom: 10px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }

.overlay {
  transition: all .25s ease 0s;
  position: absolute;
  top: 64px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible; }
  @media screen and (max-width: 1023px) {
    .overlay {
      top: 60px; } }
  @media screen and (max-width: 767px) {
    .overlay {
      top: 56px; } }
  .overlay.level1 {
    z-index: 33; }
  .overlay.transparent {
    display: block;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0); }
  @media screen and (min-width: 1024px) {
    .overlay {
      display: none; } }
  @media screen and (max-width: 1199px) {
    .overlay.cvsPage {
      display: block; } }
  .overlay.showCard {
    display: block;
    top: 0;
    z-index: 7; }
  .overlay.showPopup {
    display: block;
    top: 0;
    z-index: 77; }

.main-content.showPopup .overlay.events {
  display: block; }

.dynamicJournal .cc-block {
  padding: 0; }
  .dynamicJournal .cc-block.bg-img {
    position: relative;
    line-height: 0;
    border-radius: 2px;
    overflow: hidden; }
    .dynamicJournal .cc-block.bg-img img {
      width: 100%; }
    .dynamicJournal .cc-block.bg-img .abs-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer; }
      .dynamicJournal .cc-block.bg-img .abs-content .text-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 84%;
        color: #fff;
        padding: 16px; }
  .dynamicJournal .cc-block.collection {
    background: linear-gradient(#000227, #843432); }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrapper object, .video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
