@import 'scss/lib.scss';
@import 'scss/base.scss';
@import 'scss/font.scss';
@import 'scss/element.scss';
@import 'scss/leftNav.scss';
@import 'scss/leftContent.scss';
@import 'scss/mainContent.scss';
@import 'scss/overlay.scss';

.dynamicJournal {
  .cc-block {
    padding: 0;
    &.bg-img {
      position: relative;
      line-height: 0;
      border-radius: 2px;
      overflow: hidden;
      img {
        width: 100%;
      }
      .abs-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        .text-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 84%;
          color: #fff;
          padding: 16px;
        }
      }
    }
    &.collection {
      background: linear-gradient(#000227, #843432);
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
