.overlay {
  @include transition2;
  @include topPosition;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,.7);
  opacity: 1;
  visibility: visible;
  &.level1 {
    z-index: 33;
  }
  &.transparent {
    display: block;
    top: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0);
  }
  @include min(1024px) {
    display: none;
  }
  &.cvsPage {
    @include max(1199px) {
      display: block;
    }
  }
  &.showCard {
    display: block;
    top: 0;
    z-index: 7;
  }
  &.showPopup {
    display: block;
    top: 0;
    z-index: 77;
  }
}

.main-content {
  &.showPopup {
    .overlay.events {
      display: block;
    }
  }
}
